.bg-initial-page{
	background-image:  url('/src/assets/img/fondoInicioUTU.jpg');
}
.bg-white{
	background-color: white;
}
.bg-color1-utu{
	background-color: #706E60;
}
.bg-color2-utu{
	background-color: #BDA694;
}
.bg-color3-utu{
	background-color: #D1C596;
}
.bg-color4-utu{
	background-color: #EDDFC7;
}
.color-text-white{
	color:white
}
.px-52{padding-left:10rem;padding-right:10rem}

.font-italic{
	font-style:italic;
	font-size: x-large;
	font-weight: bold;
	color: #706E60;
}

#Altimetrias > div > div {
	width: 80%;
	align-self: center;
}

#footerPhrase {
	width: 40vw;
}

#footer {
	align-items: center;
}

@media (max-width: 1684px){
	.customCards {
		width: 11rem;
		height: 15rem;
	}	
}

@media (max-width: 1023px ) and (min-width: 768px) {
	#icons {
		justify-content: center;
		margin-bottom: 2rem !important;
	}
}

@media (max-width: 1023px) {
	#footer {
		flex-direction: column;
		text-align: center;
	}
}

@media (max-width: 1023px) {
	.absoluteMenu{
		position: absolute;
		right: 80px;
		top: 10px;
	}
}

@media (max-width: 700px){
	.px-52{
		padding-left:5rem;padding-right:5rem
	}
	.font-italic{
		font-size: medium;
	}
}

@media (max-width: 400px) {
	#inscriptionsButton	{
		padding: 12px;
	}
}

@media (max-width: 527px){
	.customCards {
		width: 10rem;
		height: 13.5rem;
	}	
	.px-52{
		padding-left:2rem;padding-right:2rem
	}
}

@media (max-width: 463px){
	.textCards {
		font-size: 10.5px;
	}
	.customCards {
		width: 8.5rem;
		height: 12.5rem;
	}	
}

@media (max-width: 412px){
	.customCards {
		width: 7.3rem;
		height: 12rem;
	}	
	.px-52{
		padding-left:.5rem;padding-right:.5rem
	}
}

@media (max-width: 399px){
	.customCards {
		width: 6.7rem;
		height: 10.5rem;
	}
}